jspm_packages/
node_modules/
npm-debug.log
vendor/
dist/
build/
.DS_Store
.tmp
_tmp
app/.sass-cache
styles.css

# ignore .idea folder but not run configurations
.idea/*
!.idea/runConfiguration/
app/css/
promo-images/american-football.png
promo-images/american-football.psd
promo-images/pitch.png
promo-images/pitch.psd
promo-images/soccer.psd
promo-images/soccer1.png
promo-images/soccer2.png
promo-images/soccer2.psd
app/config/config.jspm.js
node_modules/
*.log
*.map
stats.json
